.center-bottom {
    color: white;
    background-color: #177e89;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    text-align: center; /* para centrar el contenido horizontalmente */
    width: 100%;
    font-size: large;
    font-family: 'Noto Sans SC', sans-serif;
}

.center-bottom-text {
    margin-left: 30%;
    margin-right: 30%;
}