body {
    background-color: darkgray;
}

.gray-box {
    color: gray;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
    font-family: 'Noto Sans SC', sans-serif;
}

.white-box {
    color: whitesmoke;
    margin-left: 30%;
    margin-right: 30%;
    font-size: large;
    font-family: 'Noto Sans SC', sans-serif;
}

.blink {
    animation: blinker 0.6s infinite;
  }
  
  @keyframes blinker {
    50% {
      background-color: white;
      color: black;
    }
  }
