.blink {
    animation: blinker 0.6s infinite;
}

@keyframes blinker {
    50% {
        background-color: #66666e;
        color: #66666e;
    }
}

.error-character {
    color: #df2935;
}

.correct-character {
    color: #66666e;
}
